<a-entity position="0 0.2 0">
  <a-box
    bind__visible="talk.edit"
    mixin="action-button"
    position="-1 0 -2"
    bind__color-switch="on: mirror"
    color-switch="onColor: blue; offColor: darkblue"
    trigger-action="action: toggleMirror"
  ></a-box>

  <a-box
    mixin="action-button"
    position="0 0 -2"
    bind__color-switch="on: play"
    color-switch="onColor: green; offColor: darkgreen"
    trigger-action="action: togglePlay"
  ></a-box>

  <a-box
    bind__visible="talk.edit"
    mixin="action-button"
    position="1 0 -2"
    bind__color-switch="on: record"
    color-switch="onColor: red; offColor: darkred"
    trigger-action="action: toggleRecord"
  ></a-box>

  <a-box
    bind__visible="talk.edit"
    mixin="action-button"
    position="2 0 -2"
    color="black"
    trigger-action="action: nextSlide"
  ></a-box>

  <!-- Reset -->
  <a-box
    bind__visible="talk.edit && newRecording"
    mixin="action-button"
    position="0 0 -1"
    color="purple"
    trigger-action="action: loadTalk"
  ></a-box>

  <!-- Upload -->
  <a-box
    bind__visible="talk.edit && newRecording"
    mixin="action-button"
    position="1 0 -1"
    bind__color-switch="on: uploading"
    color-switch="onColor: darkorange; offColor: orange"
    trigger-action="action: uploadData"
  ></a-box>
</a-entity>
