<a-entity id="speaker" rotation="0 180 0" position="1 0 -4">
  <a-entity id="speakerHead">
    <a-entity
      rotation="0 -90 0"
      geometry="primitive: box"
      obj-model="obj: #avatar-default-obj; mtl: #avatar-default-mtl;"
    >
      <a-sound
        crossorigin="anonymous"
        bind__src="audioUrl"
        bind__voice-player="play: play"
      ></a-sound>
    </a-entity>
  </a-entity>

  <a-box id="speakerLeft" height="0.1" width="0.1" depth="0.1"></a-box>

  <a-box
    id="speakerRight"
    height="0.1"
    width="0.1"
    depth="0.1"
    bind-toggle__raycaster="pointing"
    bind__raycaster="showLine: pointing"
    raycaster="objects: .deck"
    bind__line="color: laserColor"
  ></a-box>
</a-entity>
